@charset "UTF-8";


/* 

    noto sans korean: 한글
     font-family: "Noto Sans KR", sans-serif;

    noto sans: 영어
     font-family: "Noto Sans", sans-serif;
    
    DM serif Display: gnb 메뉴
     font-family: "DM Serif Display", serif;

*/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
ol,
li {
    list-style: none;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

.header {
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: fixed;

    z-index: 999;
    background-color: #fff;
}

.header .header_top {
    display: flex;
    align-items: center;

}

.header .header_top .header_top_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    padding: 0 26px;
    height: 76px;
}

.header .header_top .header_top_cont .h1_logo {
    width: 15%;
    margin-top: 15px;

}

.header .header_top .header_top_cont .h1_logo>a {
    display: block;

}

.header .header_top .header_top_cont .h1_logo>a>img {
    vertical-align: middle;
}

.header .header_top .header_top_cont .header_gnb {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header .header_top .header_top_cont .header_gnb .depth0>li>a {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 0 34px;
    letter-spacing: -1;
}


.header .header_top .header_top_cont>ul {
    display: flex;
    width: 15%;
    align-items: center;
}

.top_member_box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 32px;
    height: 100%;
}

.top-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0px;
    text-indent: -9999px;
}

.top-icon.search {
    background-image: url(https://www.soopsori.co.kr/data/skin/front/soopsori_v1/img/common/btn/btn_top_search.svg);
}

.top-icon.location {
    background-image: url(https://www.soopsori.co.kr/data/skin/front/soopsori_v1/img/common/btn/btn_top_location.svg);
}

.top-icon.cart {
    background-image: url(https://www.soopsori.co.kr/data/skin/front/soopsori_v1/img/common/btn/btn_top_cart.svg);
}

.top-icon.user {
    background-image: url(https://www.soopsori.co.kr/data/skin/front/soopsori_v1/img/common/btn/btn_top_user.svg);
}

.main_visual {

    width: 100%;

    position: relative;
    /* .pager의 기준!!!! */
}

.slide-box {
    width: 100%;

    overflow: hidden;
    outline: 3px solid red;
}

.slide-box .wood-bed {
    display: flex;
    width: 300%;
    position: relative;
    /* 좌표를 사용하기 위해 position 설정! */
}

.swiper-slide {
    position: relative;
    margin-top: 76px;
    letter-spacing: -2px;
}

.swiper-slide .txt1,
.swiper-slide .txt2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-slide .txt1 {
    font-size: 160px;
    font-weight: 600;
    color: #fff;
    bottom: 140px;
    /* txt2보다 위에 오도록 더 위로 */
    /* 원하는 폰트/색상 등 추가 */
}

.swiper-slide .txt2 {
    font-size: 24px;
    font-weight: 500;
    bottom: 110px;
    color: #fff;
    /* 원하는 폰트/색상 등 추가 */
}

.txt-box {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s;
}

.txt-box.active {
    opacity: 1;
    transform: translateY(0);
}

.slider-control {
    z-index: 5;
    line-height: 1;
    display: flex;
    align-items: center;
}

.main_visual .slider-control {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: calc(100% - 300px);
    padding-left: 40px;
}



.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    display: flex;  /* flex 컨테이너로 설정 */
    width: 100%;    /* 전체 너비 사용 */
}


.swiper-pagination-bullet {
    margin: 0 !important;
    flex: 1;        
    height: 3px;
    padding: 0;
    background: #fff;
    opacity: 0.2;    
    border-radius: 0;

    position: relative;
}

.main_visual .slider-control > div.num {
    position: absolute;
    right: -90px;
    
}

.main_visual .slider-control > div {
    /* position: relative; */
    color: rgb(255, 255, 255);
}

.swiper-prev {
    background: url(https://www.soopsori.co.kr/data/skin/front/soopsori_v1/img/common/btn/btn_slide_main_prev.svg) 0px 0px / contain no-repeat;
}

.swiper-next {
    background: url(https://www.soopsori.co.kr/data/skin/front/soopsori_v1/img/common/btn/btn_slide_main_next.svg) 0px 0px / contain no-repeat;
}

.swiper-prev, .swiper-next {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    display: inline-block !important;
    transform: none !important;
}

