@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

.header {
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.header .header_top {
    display: flex;
    align-items: center;
    
}

.header .header_top .header_top_cont {
    justify-content: space-between;
    padding: 0 26px;
    height: 76px;
}

.header .header_top .header_top_cont